{% extends 'inv/base.html' %}

{% block body %}
 <div class="add_buttons">

   <div class="button-group">
     <a href="{% url 'view_kelembaban' %}" class="btn btn-primary btn-md btn-trim" role="button">Kelembaban</a>
     <a href="{% url 'add_kelembaban' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

     <a href="{% url 'view_suhu' %}" class="btn btn-primary btn-md btn-trim" role="button"> Suhu</a>
     <a href="{% url 'add_suhu' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

     <a href="{% url 'view_tekanan' %}" class="btn btn-primary btn-md btn-trim" role="button">Tekanan</a>
     <a href="{% url 'add_tekanan' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

     <a href="{% url 'view_angin' %}" class="btn btn-primary btn-md btn-trim" role="button">Angin</a>
     <a href="{% url 'add_angin' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="{% url 'view_radiasi' %}" class="btn btn-primary btn-md btn-trim" role="button">Radiasi Matahari</a>
     <a href="{% url 'add_radiasi' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

    </div>
 </div>
 <div>
   <h4>Currently Viewing {{ header }}</h4>
 </div>

  <table class="table table-hover">
  <thead>      
     <tr>
       <th>id</th>
       <th>Tanggal</th>
       <th>jam0</th>
       <th>jam1</th>
       <th>jam2</th>
       <th>jam3</th>
       <th>jam4</th>
       <th>jam5</th>
       <th>jam6</th>
       <th>jam7</th>
       <th>jam8</th>
       <th>jam9</th>
       <th>jam10</th>
       <th>jam11</th>
       <th>jam12</th>
       <th>jam13</th>
       <th>jam14</th>
       <th>jam15</th>
       <th>jam16</th>
       <th>jam17</th>
       <th>jam18</th>
       <th>jam19</th>
       <th>jam20</th>
       <th>jam21</th>
       <th>jam22</th>
       <th>jam23</th>
       <th>publish</th>
       <th></th>
     </tr>
   </thead>
 
   <tbody>
     {% for data in datas %}
     <tr>
       <td>{{ data.pk }}
       <td>{{ data.tanggal }}</td>
       <td>{{ data.jam0 }}</td>
       <td>{{ data.jam1 }}</td>
       <td>{{ data.jam2 }}</td>
       <td>{{ data.jam3 }}</td>
       <td>{{ data.jam4 }}</td>
       <td>{{ data.jam5 }}</td>
       <td>{{ data.jam6 }}</td>
       <td>{{ data.jam7 }}</td>
       <td>{{ data.jam8 }}</td>
       <td>{{ data.jam9 }}</td>
       <td>{{ data.jam10 }}</td>
       <td>{{ data.jam11 }}</td>
       <td>{{ data.jam12 }}</td>
       <td>{{ data.jam13 }}</td>
       <td>{{ data.jam14 }}</td>
       <td>{{ data.jam15 }}</td>
       <td>{{ data.jam16 }}</td>
       <td>{{ data.jam17 }}</td>
       <td>{{ data.jam18 }}</td>
       <td>{{ data.jam19 }}</td>
       <td>{{ data.jam20 }}</td>
       <td>{{ data.jam21 }}</td>
       <td>{{ data.jam22 }}</td>
       <td>{{ data.jam23 }}</td>
       <td>{{ data.publish }}</td>

       {% if header|lower == "kelembaban" %}
       <td>
           <a href="{% url 'edit_kelembaban' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_kelembaban' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% elif header|lower == "suhu" %}
       <td>
           <a href="{% url 'edit_suhu' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_suhu' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% elif header|lower == "tekanan" %}
       <td>
           <a href="{% url 'edit_tekanan' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_tekanan' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% elif header|lower == "angin" %}
       <td>
           <a href="{% url 'edit_angin' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_angin' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% else %}
       <td>
           <a href="{% url 'edit_radiasi' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_radiasi' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% endif %}
     </tr>
     
     {% endfor %}
   </tbody>
 </table>

{% endblock %}