{% extends 'inv/base.html' %}

{% block body %}
 <div class="add_buttons">

   <div class="button-group">
     <a href="{% url 'view_kelembaban' %}" class="btn btn-primary btn-md btn-trim" role="button">Kelembaban</a>
     <a href="{% url 'add_kelembaban' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

     <a href="{% url 'view_suhu' %}" class="btn btn-primary btn-md btn-trim" role="button"> Suhu</a>
     <a href="{% url 'add_suhu' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

     <a href="{% url 'view_tekanan' %}" class="btn btn-primary btn-md btn-trim" role="button">Tekanan</a>
     <a href="{% url 'add_tekanan' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

     <a href="{% url 'view_angin' %}" class="btn btn-primary btn-md btn-trim" role="button">Angin</a>
     <a href="{% url 'add_angin' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

      <a href="{% url 'view_radiasi' %}" class="btn btn-primary btn-md btn-trim" role="button">Radiasi Matahari</a>
     <a href="{% url 'add_radiasi' %}" class="btn btn-warning btn-sm btn-pad" role="button"> +</a>

    </div>
 </div>
 <div>
   <h4>Currently Viewing {{ header }}</h4>
 </div>

  <table class="table table-hover">
 <thead>      
     <tr>
       <th>id</th>
       <th>Tanggal</th>
       <th>Radiasi 06_07</th>
       <th>Radiasi 07_08</th>
       <th>Radiasi 08_09</th>
       <th>Radiasi 09_10</th>
       <th>Radiasi 10_11</th>
       <th>Radiasi 11_12</th>
       <th>Radiasi 12_13</th>
       <th>Radiasi 13_14</th>
       <th>Radiasi 14_15</th>
       <th>Radiasi 15_16</th>
       <th>Radiasi 16_17</th>
       <th>Radiasi 17_18</th>
       <th>Radiasi 18_19</th>
       <th>Radiasi 19_20</th>
       <th>Radiasi 20_21</th>
       <th>Radiasi 21_22</th>
       <th>Radiasi 22_23</th>
       <th>Radiasi 23_00</th>
       <th>Radiasi 00_01</th>
       <th>Radiasi 01_02</th>
       <th>Radiasi 02_03</th>
       <th>Radiasi 03_04</th>
       <th>Radiasi 04_05</th>
       <th>Radiasi 05_06</th>
       <th>Jumlah</th>
       <th>Total %</th>
       <th>publish</th>
       <th></th>
     </tr>
   </thead>

   <tbody>
     {% for data in datas %}
     <tr>
       <td>{{ data.pk }}
       <td>{{ data.tanggal }}</td>
       <td>{{ data.R_06_07 }}</td>
       <td>{{ data.R_07_08 }}</td>
       <td>{{ data.R_08_09 }}</td>
       <td>{{ data.R_09_10 }}</td>
       <td>{{ data.R_10_11 }}</td>
       <td>{{ data.R_11_12 }}</td>
       <td>{{ data.R_12_13 }}</td>
       <td>{{ data.R_13_14 }}</td>
       <td>{{ data.R_14_15 }}</td>
       <td>{{ data.R_15_16 }}</td>
       <td>{{ data.R_16_17 }}</td>
       <td>{{ data.R_17_18 }}</td>
       <td>{{ data.R_18_19 }}</td>
       <td>{{ data.R_19_20 }}</td>
       <td>{{ data.R_20_21 }}</td>
       <td>{{ data.R_21_22 }}</td>
       <td>{{ data.R_22_23 }}</td>
       <td>{{ data.R_23_00 }}</td>
       <td>{{ data.R_00_01 }}</td>
       <td>{{ data.R_01_02 }}</td>
       <td>{{ data.R_02_03 }}</td>
       <td>{{ data.R_03_04 }}</td>
       <td>{{ data.R_04_05 }}</td>
       <td>{{ data.R_05_06 }}</td>
       <td>{{ data.jumlah }}</td>
       <td>{{ data.total }}</td>
       <td>{{ data.publish }}</td>

       {% if header|lower == "kelembaban" %}
       <td>
           <a href="{% url 'edit_kelembaban' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_kelembaban' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% elif header|lower == "suhu" %}
       <td>
           <a href="{% url 'edit_suhu' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_suhu' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% elif header|lower == "tekanan" %}
       <td>
           <a href="{% url 'edit_tekanan' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_tekanan' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% elif header|lower == "angin" %}
       <td>
           <a href="{% url 'edit_angin' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_angin' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% else %}
       <td>
           <a href="{% url 'edit_radiasi' data.pk %}" class="btn btn-warning btn-sm" role="button" aria-pressed="true" > Edit</a>
           <a href="{% url 'delete_radiasi' data.pk%}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" > Delete</a>
       </td>
       {% endif %}
     </tr>
     
     {% endfor %}
   </tbody>
 </table>

{% endblock %}